<section class='main-banner'>
	<img
		src='/images/screen-mockups.svg'
		class='banner-img'
		alt='banner screen mockups image'
	/>
</section>
<style>
	.main-banner {
		display: flex;
		justify-content: center;
	}
	.banner-img {
		max-width: 1200px;
	}
</style>
