---
import Form from '../components/Form.astro';
---

<section class='newsletter'>
	<h4 class='white-text'>Newsletter</h4>
	<p class='white-text'>
		To recieve tips on how to grow your community, sign up to our weekly
		newsletter. We’ll never send you spam or pass on your email address.
	</p>
	<Form />
</section>
<style>
	p {
		font-size: 14px;
		line-height: 28px;
		font-weight: 600;
		max-width: 450px;
	}

	.newsletter {
		display: flex;
		flex-direction: column;
		max-width: 500px;
		gap: 2rem;
	}

	h4 {
		text-transform: uppercase;
		font-size: 32px;
	}

	@media (max-width: 992px) {
		.newsletter {
			max-width: 340px;
			margin: 0 auto;
			text-align: center;
		}
	}
</style>
